* {
	box-sizing: border-box;
	font-family: "Century Gothic", sans-serif;
}
body {
	font-weight: normal;
	font-size:18px;
	margin: 0;
}
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url("../img/Frame_1.png")no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 712px;
}
.logo {
	width: 400px;
	height: 110px;
	margin:240px 0 26px;
}
.menu__item {
	margin-left: 140px;
	margin-top: 59px;
}
.menu_link{
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
}
.banner{
	font-size: 18px;
	font-weight: lighter;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6;
}
.navigation {
	padding-top: 59px;
}
.menu {
	list-style:none;
	display: flex;
	color: #FFFFFF;
	left: 100px;
	align-items: center;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
}
.menu__item {
	margin: 10px 70px;
}
.menu_link {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
}
.button {
	font-weight: bold;
	font-size: 26px;
	line-height: 75px;
	text-align: center;
	width: 296px;
	background: #427B39;
	box-shadow: 7px 5px 8px rgba(0, 0, 0, 0.25);
	border-radius: 45px;
}

.button a {
	text-decoration: none;
	color: #FFFFFF;
}

/*БЛОК О НАС*/
.content {
	width: 100%;
}

.about_header  {
	padding: 0;
	margin-top: 30px;
	width: 100%;
	font-size: 28px;
	position: relative;
	font-weight: bold;
	text-align: center;

}
.about_elements {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/*max-width: 1200px;
	margin-left: 150px;*/
}

.about_element-header {
	font-size: 24px;
	text-align: center;
}
.about_element {
	margin: 0 40px 60px;
	width: 100%;
    max-width: 350px;
}
.about_icon {
	width: 60px;
	margin: 60px auto 0;
}

