body {
	font-family: "Century Gothic", sans-serif;
	font-weight: normal;
	font-size:14px;
	margin: 0;
}
.header {
	background: url("../img/Frame_1.png")no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 712px;
}
.logo {
	width: 400px;
	height: 110px;
	margin:240px 610px 266px 540px;
}
.banner{
	font-size: 18px;
	font-weight: lighter;
	margin-top: -240px;
	margin-left: 520px;
	margin-right: 470px;
	line-height: 1.6;
}
.menu {
	list-style:none;
	display: flex;
	color: #FFFFFF;
	left: 100px;
	align-items: center;
}
.menu__item {
	margin-left: 140px;
	margin-top: 59px;
}
.menu_link{
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
}
.btn {
	font-family: "Century Gothic", sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 75px;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	display: inline-block;
	position: absolute;
	width: 296px;
	height: 80px;
	left: 590px;
	top: 550px;
	background: #427B39;
	box-shadow: 7px 5px 8px rgba(0, 0, 0, 0.25);
	border-radius: 45px;
}
/*БЛОК О НАС*/
.content {
	font-family: "Century Gothic", sans-serif;
	width: 100%;
}

.about_header p {

	margin-top: 30px;
	padding: 0;
	width: 100%;
	font-size: 28px;
	position: relative;
	font-weight: bold;
	text-align: center;
}
.about_element_left {
	position: relative;
	font-size: 18px;
	display: inline-block;
	border: 1px solid black;

}
.about {
	margin-top: 60px;
	display: inline;
	margin-left: 310px;
}
.place_left h2 {
	position: relative;
	margin-top: 20px;
	margin-left:190px;
}
.place_left p {
	font-size: 19px;
	margin-top: 30px;
	margin-bottom: -6px;
	margin-left: 120px;
}
/*НАМ ТРИ ГОДА*/
.about_element_right {
    position: relative;
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid black;
    display: inline-block;
	width: 500px;
	height: 400px;

}
.years {
	margin-top: 40px;
	display: inline;
	margin-left: 500px;
}
.place_right h2 {
	position: relative;
	margin-top: 20px;
	margin-left: 300px;
	text-align: center;
}
.place_right p {
	font-size: 19px;
	margin-top: 10px;
	margin-bottom: -6px;
	margin-left: 320px;
	text-align: center;
}